@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Outfit", sans-serif;
  transition: background 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #D37B49;
  --color-secondary: #E29567;
  --color-bg-primary-dark: #1E2022;
  --color-bg-secondary-dark: #292C31;
  --color-text-primary-dark: #FFFFFF;
  --color-text-secondary-dark: #E0E0E0 ;
}

body {
  background: #fff;
}

.rich-text { font-size: 15px;  }

.rich-text p { margin-bottom: 16px; color: #292929; }

.rich-text h1 { font-size: 36px; font-weight: 700; color: #252525 !important; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525 !important; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333 !important; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444 !important; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555 !important; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666 !important; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

.rich-text-dark a { color: #007AFF }

.rich-text-dark p { color: #E0E0E0; }

.rich-text-dark li { color: #E0E0E0; }

.rich-text-dark h1 { color: #FFFFFF !important; }

.rich-text-dark h2 { color: #F2F2F2 !important; }

.rich-text-dark h3 { color: #E0E0E0 !important; }

.rich-text-dark h4 { color: #C4C4C4 !important; }

.rich-text-dark h5 { color: #ADADAD !important; }

.rich-text-dark h6 { color: #969696 !important; }