# MongoDB
MONGODB_URI=[MONGODB_URI]

# Admin Credentials
ADMIN_EMAIL=[ADMIN_EMAIL]
ADMIN_PASSWORD=[ADMIN_PASSWORD]

# JWT
JWT_SECRET=[JWT_SECRET]

# ImageKit
IMAGEKIT_PUBLIC_KEY=[IMAGEKIT_PUBLIC_KEY]
IMAGEKIT_PRIVATE_KEY=[IMAGEKIT_PRIVATE_KEY]
IMAGEKIT_URL_ENDPOINT=[IMAGEKIT_URL_ENDPOINT]

# Gemini
GEMINI_API_KEY=[GEMINI_API_KEY]